@import url('https://fonts.googleapis.com/css?family=Questrial|Sacramento|Poiret+One');
.App {
  text-align: center;
}
.App-logo{
  margin:3em;
  animation: App-logo-spin infinite 25s linear;
  height: 21em;
  
}

.App-header {
  background: #1e130c71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ddac90, #1e130c70);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9a8478, #ac633767); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
  background-color: rgba(226, 226, 226, 0.932);
  height: 3em;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  font-family: "Tenali Ramakrishna";
  font-size: 3em;
  color: #4b254860;
}

.link{
  text-decoration: none;
}
.div{
color: #f7f0f660;
overflow: hidden;
display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}