@import url('https://fonts.googleapis.com/css?family=Questrial|Sacramento|Poiret+One');

body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: "Questrial";
  color: rgb(6, 71, 105);
  
}
.div{
  color: #f7f0f660;
  overflow: hidden;
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }